<div class="layout-container">
    <mat-toolbar class="header mat-elevation-z4">
        <span>
            <a routerLink="/">
                <img class="logo" src="assets/img/voto.jpg" alt="logo">
            </a>
        </span>
        <span class="title-group">
            <a>
                <i class="material-icons">
                    home
                </i>
                Aplicação CRUD
            </a>
        </span>
        <span class="footer">
            Desenvolvido com
            <i class="material-icons v-middle" appRed>
                favorite
            </i>
            por <strong><span class="red">1</span>saac</strong>
        </span>
    </mat-toolbar>
</div>
