.sidenav {
    width: 200px;
    background-color: #3F51B5;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #FFF;
  }
  
  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .sidenav i {
    padding-right: 10px;
 }

 .container.full-height {
  height: calc(90vh - 1px); /* 64px é a altura do header */
  display: flex;
  flex-direction: column;
}

.mat-sidenav-content {
  flex: 1; /* Permite que o conteúdo ocupe todo o espaço disponível */
}

/* mat-sidenav {
  height: 20rem;

} */
